<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div th:fragment="header">
        <div class="headerDiv">
            <div class="headerInnerDiv1">
                <p>HELLO SHOP</p>
            </div>
            <div class="headerInnerDiv2">
                <p>HOME</p>
            </div>
        </div>
        <div class="headerDiv2">
            <div>
                <a href="/items">메인페이지</a>
            </div>
            <div>
                <a href="/items/new">상품 등록</a>
            </div>
            <div>
                <a href="/order">주문하기</a>
            </div>
        </div>
    </div>
</body>
</html>
