
.headerDiv {
    width : 100%;
    height: 10%;

    display: flex;
}

.headerInnerDiv1 {
    align-items: center;
    justify-content: left;

    display: flex;

    width: 50%;
    height: 100%;
}

.headerInnerDiv1 p {
    font-size : 33px;
}

.headerInnerDiv2 {
    align-items: center;
    justify-content: right;

    width: 50%;
    height: 100%;

    display: flex;
}

.headerInnerDiv2 p {
    font-size : 20px;
}

.headerDiv2 {
    width : 100%;
    height: 7%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.headerDiv2 div {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size : 16px;

    width : 33%;
    height: 100%;
}

.headerDiv2 div a {
    margin-top: 12px;
    margin-bottom: 12px;
}


.footerDiv {
    border-top : 2px solid gray;

    width : 100%;
    height: 88px;

    margin-top : 33px;

    display: flex;
    align-items: center;
    justify-content: center;
}
