<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sodipodi="http://java.sun.com/xml/ns/j2ee"
        xmlns:inkscape="http://java.sun.com/xml/ns/javaee"
        layout:decorate="~{layout/layout}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <link rel="stylesheet" th:href="@{/css/item.css}" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="mainDiv">
            <div class="mainInnerDiv1">
                <div class="cate1">#</div>
                <div class="cate2">상품명</div>
                <div class="cate3">가격</div>
                <div class="cate4">재고수량</div>
                <div class="cate5">
                </div>
            </div>
            <div class="mainInnerDiv2" th:each="item : ${items}">
                <div class="cate1">
                    <p th:text="${item.id}"></p>
                </div>
                <div class="cate2">
                    <p th:text="${item.name}"></p>
                </div>
                <div class="cate3">
                    <p th:text="${item.price}"></p>
                </div>
                <div class="cate4">
                    <p th:text="${item.stockQuantity}"></p>
                </div>
                <div class="cate5">
                    <p>
                        <a th:href="'/items/'+${item.id}+'/edit'" role="button">
                            수정
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>


</body>
</html>
