<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sodipodi="http://java.sun.com/xml/ns/j2ee"
        xmlns:inkscape="http://java.sun.com/xml/ns/javaee"
        layout:decorate="~{layout/layout}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <link rel="stylesheet" th:href="@{/css/createForm.css}" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="mainDiv">
            <div>
                <p th:text="${item.id}"></p>
                <form th:action="'/items/'+${item.id}+'/edit'" method="POST">
                    <h3>상품명</h3>
                    <input id="name" name="name" th:value="${item.getName()}">

                    <h3>가격</h3>
                    <input id="price" name="price" th:value="${item.getPrice()}">

                    <h3>수량</h3>
                    <input id="stockQuantity" name="stockQuantity" th:value="${item.getStockQuantity()}">

                    </br>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

    </div>


</body>
</html>
